<h1>Editing credit pool</h1>

<%= render "form", credit_pool: @credit_pool %>

<br>

<div>
  <%= link_to "Show this credit pool", @credit_pool %> |
  <%= link_to "Back to credit pools", credit_pools_path %>
</div>
