<h1>Credit pools</h1>

<div class="accordion" id="credit_pools">
  <% @credit_pools.each do |credit_pool| %>
    <%= render credit_pool %>
  <% end %>
</div>

<div style="margin-top: 5px">
  <%= link_to "New Credit Pool", new_credit_pool_path, class: 'btn btn-primary' %>
</div>
