<div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= @user.uin %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= @user.credits %>
  </p>

</div>