<%= stylesheet_link_tag "transfer" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Protest+Riot&family=Quicksand:wght@300..700&display=swap", media: 'all' %>

<div class='outerDiv'>
    <div class='heading'>
        <p class="title">Request Credits</p>
        <p class="char">Request meal credits from the donated pool!</p>
        <p class="char-center">User Credits: <%=@user.fetch_num_credits%></p>
        <p class="char-center">Pool Credits: <%=@creditpool.credits%></p>
    </div>
    <div class="creditDiv">
        <form action="/users/profile/do_receive" method='post'>
            <label for='credit-amount'>Enter a credit amount: </label>
            <input id='credit-amount' class="margin-input" name="num_credits"/>
            <input name="credit-submission" type="submit" class="submit" value="Request" />
        </form>
    </div>
</div>