<%= link_to "Logout", logout_path %>
<h2>Howdy <%= @user.name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @user.name %>
  </p>
</div>