<div class='global container'>
    <div class='heading'>
        <h1>User transfer page!!</h1>
        <h3>Here, you can donate meal credits into the pool</h3>
    </div>
    <div class="main-container">
        <form action="/users/<%=@uin%>/transfer/transfer_donor_credits" method='post'>
            <label for='credit-amount'>Enter a credit amount</label>
            <input id='credit-amount' name="credits"/>
            <input name="credit-submission" type="submit" value="Send Credits" />
        </form>
    </div>
</div>
