<%= stylesheet_link_tag "transfer" %>
<div class='global container'>
    <div class='heading'>
        <h1>User transfer page!!</h1>
        <h3>Here, you can donate meal credits into the pool</h3>
        <h5>Number of credits in your account: <%=@user.get_num_credits%></h3>
        <h5>Total number of credits in the pool: <%=@creditpool.credits%></h3>
    </div>
    <div class="main-container">
        <form action="/users/profile/transfer/transfer_donor_credits" method='post'>
            <label for='credit-amount'>Enter a credit amount</label>
            <input id='credit-amount' name="credits"/>
            <input name="credit-submission" type="submit" class="btn btn-primary" value="Send Credits" />
        </form>
    </div>
    <div class="row">
        <p><%= link_to "Go back", '/users/profile', class: 'btn btn-secondary'%></p>
    </div>
</div>
