<h1>School Details</h1>
<ul>
  <li>
    Name:
    <%= @school.name %>
  </li>
  <li>
    Domain:
    <%= @school.domain %>
  </li>
  <li>
    Logo:
    <%= @school.logo %>
  </li>
</ul>

<div class="row">
  <%= button_to "Delete", @school, method: :delete %>
</div>