.alert {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  
  .alert-info {
    background-color: #E8B1B0;
    color: #fff;
    width: fit-content;
  }
  
  .alert-danger {
    background-color: #E3686C;
    color: #fff;
  }

.outerDiv{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .alert {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 576px) {
    .alert {
      font-size: 12px; /* Adjust font size for even smaller screens */
    }
  }