.char{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  color: black;
  text-align: left;
}

.char-center{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  color: black;
  text-align: center;
}

.title{
  font-family: "Protest Riot", sans-serif;
  font-size: 50px;
  color: #E3686C;
  text-align: center;
  margin-bottom: 5%;
}

.outerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: fit-content;
}

.heading{
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}


form {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 15px;
}

label {
  font-size: 25px;
}

#credit-amount {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.submit{
  background-color: #E8B1B0;
  border-color: #E8B1B0;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 15px;
}

.margin-input{
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 15px;
}

.submit:hover{
  background-color: #E3686C;
  border-color: #E3686C;
}

.submit:focus{
  background-color: #E3686C;
  border-color: #E3686C;
}

.row {
  text-align: center;
}

p {
  margin-bottom: 0;
}

