<!-- This is a placeholder view that displays credit buttons for testing -->
<!-- these buttons will be on other pages (like home or profile) in the future -->

<div>
  <button>Donate Credits</button>
  <button>Receive Credits</button>
</div>
